/* Base */

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    background-color: #f3f4f7;
    hyphens: auto;
    margin: 0;
    -moz-hyphens: auto;
    -ms-word-break: break-all;
    width: 100% !important;
    -webkit-hyphens: auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    word-break: break-word;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

/* Typography */

h1 {
    color: #3440b6;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
}

h4 {
    color: #3440b6;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
}

p {
    color: #3d4852;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

a {
    color: #3869d4;
}

/* Header */

.header {
    padding: 0 46px;
    margin: 10px 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.header h1 {
    margin-left: 18px;
}

.image-container {
    width: 71px;
}

/* Body */

.wrapper {
    background-color: #ffffff;
    margin: 43px auto;
    width: 600px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 600px;
}

.body-text {
    margin-bottom: 28px;
}

.content {
    padding: 53px 46px 46px;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.questions {
    width: 70%;
    margin-bottom: 30px;
}

.background-image {
    margin-bottom: 70px;
}

.explicit {
    color: #3440b6;
}

.greeting {
    margin-top: 30px;
}

.account {
    background-color: #e3eff9;
    border-radius: 6px;
    padding: 28px 41px;
    margin-bottom: 30px;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.account p {
    margin-right: 8px;
}

.account-details {
    height: 20px;
}

/* Buttons */

.button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    color: #fff;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

.button-orange {
    background-color: #ed8c00;
    padding: 9px 18px 10px 18px;
}

.go-to-quiz {
    margin-bottom: 39px;
}

.go-to-boxx {
    margin-top: 19px;
}

/* Images */

.boxx-header {
    max-height: 0;
    position: relative;
    opacity: 0.999;
    margin: 0 auto;
}

.boxx-yeah {
    max-height: 0;
    position: relative;
    opacity: 0.999;
    margin: 7px auto 0;
}

.boxx-mobile {
    max-height: 0;
    position: absolute;
    opacity: 0.999;
    margin-left: 335px;
    margin-top: 20px;
}

.boxx-footer {
    max-height: 0;
    position: absolute;
    opacity: 0.999;
    margin-left: 444px;
    margin-top: -100px;
}
